.container {
  width: 50em;
  background-color: var(--color-white);
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 2em;
}

.title-content{
display: flex;
justify-content: space-between;
}
.form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.938em 3.125em;
  row-gap: 1.25em;
  column-gap: 2em;
}

.form-content div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-content label {
  align-self: flex-start;
  font-weight: bold;
}

.button-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.125em;
  height: 2.813em;
}

.button-register{
  border: 0em;
  background-color:var(--color-blue);
  border-radius: 0.375em;
  cursor: pointer;
  width: 20%;
  color: var(--color-white);

}

.button-cancel{
  border: 0em;
  background-color: var(--color-whisper);
  border-radius: 0.375em;
  cursor: pointer;
  width: 20%;
  color: var(--color-gray);

}


.button-back{
  width: 5em;
  height: 2.188em;
  display: flex;
  background-color: var(--color-yellow);
  border: 0em;
  border-radius: 0.625em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.example-form {
min-width: 9.375em;
max-width: 31.24em;
width: 100%;
}

.example-full-width {
width: 100%;
}

.icon-pointer{
cursor: pointer;
}
